.menu {
    display: flex;
    align-items: center;
    background: #1977D2;
    padding: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    padding-left: 12px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.menu li.active {
    text-decoration: underline;
    text-decoration-color: #fff;
}
